{% extends 'base.html.twig' %}

{% block title %}
	Modifier
{% endblock %}

{% block titlePage %}
	{% if isModification %}
		Modification du véhicule
		{{car.immatriculation}}
	{% else %}
		Création d'un véhicule
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(form)}}
		{{form_widget(form)}}
		<a href="{{path('admin')}}" class="btn btn-primary">retour</a>
		<input type="submit" value="valider" class="btn btn-success">
		{{form_end(form)}}
	</div>
{% endblock %}
